<h5 class="mc-title">With search</h5>
<div style="width: 200px">
    <mc-form-field>
        <mc-select [(value)]="singleSelectedWithSearch">
            <mc-form-field mcFormFieldWithoutBorders mcSelectSearch>
                <i mcPrefix mc-icon="mc-search_16"></i>
                <input mcInput [formControl]="searchCtrl" type="text" placeholder="Search" />
                <mc-cleaner></mc-cleaner>
            </mc-form-field>

            <mc-option *ngFor="let option of filteredOptions | async" [value]="option">{{ option }}</mc-option>
        </mc-select>
    </mc-form-field>
</div>
